<!DOCTYPE html>
<html class="has-background-light">
    <head>

        <title>
            {{ block "title" .}}
                {{ .Site.Title }}
            {{ end }}
        </title>

        <link href="/css/gitsandpieces.css" rel="stylesheet">
        <link href="/css/syntax.css" rel="stylesheet">
        <link href="/css/adtl-syntax.css" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body class="content">

        <header>
            <div class="container box">
                <nav class="navbar has-text-weight-bold"> 
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            {{ range $m := .Site.Menus.main }}
                                <a class="navbar-item" href="{{ $m.URL }}">{{ $m.Name }}</a>
                            {{ end }}
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main>
            <div class="container box">
                {{ block "main" . }}
                {{ end }}
            </div>
        </main>

        <footer class="container box footer content has-text-centered">
            <p class="is-size-6">The views I express are mine alone and do not represent the Galactic Republic, the neighborhood charity bake sale, or my employer.</p>
            <p>Questions or comments? send me an <a id="cta" href=""><span class="tag is-link">Email</span></a>!</p> 
            <p><strong>&copy;{{ now.Format "2006" }} Aaron Johnson</strong></p>
        </footer>

        <script>
            var upd = document.getElementById("cta");
            var tld = "{{ .Site.Params.Contact.Tld }}"
            var domain = "{{ .Site.Params.Contact.Domain }}"
            var account = "{{ .Site.Params.Contact.Username }}"
            var prefix = "mailto"
            setTimeout(
                ()  => {
                    upd.setAttribute(
                        "href",
                        prefix+":"+account+"@"+domain+"."+tld
                    );
                },
                {{ .Site.Params.Contact.Delay }}
            );
        </script>

    </body>
</html>
 