{{ define "title" }}
    All {{ .Section | title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <h1 class="title">{{ .Section | title }}</h1>
        </div>
    </div>
    <hr>
    <div class="columns is-multiline">
        {{ range .Pages.ByLastmod.Reverse -}}
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="has-background-warning-light card" style="height: 100%">
                    <div class="card-content is-flex-direction-column is-flex is-justify-content-space-around" style="height: 100%">
                        <div class="is-flex-grow-0 is-size-5">
                            {{ .Title }}
                            <hr class="my-0 py-0">
                        </div>
                        <div class="block is-flex-grow-0">
                            {{ with .GetTerms "tags" }}
                                {{ range $i, $t := . }}
                                    <a href="{{ $t.Permalink }}"><span class="tag is-warning">{{ $t.LinkTitle }}</span></a>
                                {{ end }}
                            {{ end }}
                        </div>
                        {{ $summaryLen := 0 }}
                        {{ if gt (len .RawContent) .Site.Params.betterSummaryLength }}
                            {{ $summaryLen = .Site.Params.betterSummaryLength }}
                        {{ else }}
                            {{ $summaryLen = len .RawContent }}
                        {{ end }}
                        <a href="{{ .Permalink }}">
                            <div style="font-size: 0.5rem !important" class="block box is-flex-grow-0">
                                {{ partial "bettersummary" . }}
                            </div>
                        </a>
                        <div class="is-flex-grow-1"></div>
                    </div>
                </div>
            </div>
        {{- end }}
    </div>
{{ end }}