.lntd:first-child {
    min-width: 1.6rem;
    text-align: right;
}

.highlight>.chroma .lntd:last-child {
    width: 100%;
}

.highlight {
    max-height: 50vh;
    overflow-x: scroll;
    overflow-y: scroll;
}